{% extends "base.html" %}



{% block content %}


<div>
  <style>
    #map-id,
    body,
    html {
      height: 80%;
    }
  </style>



</div>


  <div class="container">
    <div class="row">
      <div class="col" class="md-6">
        <select name="months" id="months" >
          {% for month in months %}
          <option value="{{ month }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col" class="md-6">
        <select name="states" id="states">
          {% for state in states %}
          <option value="{{ state }}">{{ state }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>


  <!-- Leaflet -->
  <div id="map-id"></div>

  <div id="plot-id"></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>  

{% endblock content %}

