{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col" class="md-6">
        <select name="months" id="months" >
          {% for month in months %}
          <option value="{{ month }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col" class="md-6">
        <select name="states" id="states">
          {% for state in states %}
          <option value="{{ state }}">{{ state }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  
  <div id="plot-id"></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>  

{% endblock content %}

